<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" android:versionName="1.02" package="com.anchordev.kzcity" android:versionCode="3">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="КЗ city" android:icon="@drawable/app_icon"></application>
</manifest>